<script lang="ts" context="module">
  export const meta = {
    title: "Hello World! 2",
    date: new Date("2021-11-28"),
    tags: ["#misc","#coding"],
  };

</script>

This is my first blog entry of my website.
