@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300&display=swap");

:root {
  /* VARIABLES: */
  --white1: hsl(0, 0%, 90%);
  --gray1: hsla(0, 0%, 15%, 0.4);
  --gray2: hsla(0, 0%, 10%, 0.9);
  --gray3: hsl(0, 0%, 20%);
  --gray4: hsl(180, 25%, 35%);
  --gray5: hsl(180, 25%, 60%);
  --font1: hsl(51, 20%, 80%);
  --font3: hsl(261, 5%, 80%);
  --brown1: hsla(0, 25%, 27%, 1);
  --brown2: hsla(0, 20%, 27%, 0.8);
  --coral1: hsl(180, 20%, 74%);
  --sepia1: hsl(51, 7%, 69%);
  --blue1: hsl(261, 80%, 80%);
  --blue2: hsl(261, 97%, 89%);
  --green1: #80c403; /* MAIN */
  --green2: #20c203;
  --green3: hsl(111, 20%, 60%);
  --green_transp: hsla(81, 97%, 39%, 0.5);
  --lightgreen1: #a1f404;
  --blue_transp: hsla(261, 80%, 69%, 0.8);
  --gradient1: linear-gradient(120deg, var(--sepia1), var(--blue1));
  --gradient2: linear-gradient(30deg, var(--gray1), var(--blue_transp));
  --gradient3: linear-gradient(30deg, var(--blue1), var(--blue_transp));
  --gradient4: linear-gradient(30deg, var(--lightgreen1), var(--blue_transp));
  --gradient5: linear-gradient(
    90deg,
    hsla(0, 0%, 0%, 0) 0 10%,
    var(--gray2) 30% 70%,
    hsla(0, 0%, 0%, 0) 90% 100%
  );

  /* REM: */
  font-size: 16px;
  background-color: black;
}

html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

*,
*::after,
*::before {
  box-sizing: border-box;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-weight: 300;
}

p,
h1,
li,
figcaption,
button {
  font-family: "Roboto", sans-serif;
  font-weight: 300;
}

p {
  color: var(--font3);
  font-size: 1.1rem;
}

h1 {
  color: var(--blue2);
  padding: 0;
  margin: 0 0.4em;
}

code {
  font-family: Consolas, monaco, monospace;
}

h2 {
  font-weight: 100;
  margin: 0;
  color: var(--green1);

  font-size: 1.7rem;
}

h4 {
  margin: 0;

  color: var(--green1);
  font-size: 1.2rem;
  text-transform: uppercase;
}
h3 {
  color: var(--blue2);
  margin: 0;

  font-size: 1.2rem;
}

hr {
  height: 1px;
  border: 0;
  background: var(--gray1);
  background-image: linear-gradient(
    to right,
    var(--white1),
    var(--gray3),
    var(--white1)
  );
}

ul {
  padding-left: 1.5em;
}
li {
  /* list-style-type: none; */
  text-align: left;
  margin-top: 0.12em;
  color: var(--coral1);
}

label {
  display: block;
}

input,
button,
select,
textarea {
  text-transform: uppercase;
  padding: 0.3em 0.7em;
  border-width: 2px;
  box-shadow: 2px 2px var(--brown2);
  border: 2px solid var(--gray3);
}

input:disabled {
  color: #ccc;
}

button {
  color: var(--font1);
  background-color: var(--gray3);
  outline: none;
  white-space: nowrap;
  user-select: none;
  cursor: pointer;
  transition: 200ms;
  text-align: center;
}

button:active {
  background-color: #333;
}

button:disabled {
  color: #ccc;
}

a {
  text-decoration: none;
  color: var(--blue1);
}

a:active {
  text-decoration: underline;
}

img {
  color: var(--gray5);
}

table {
  color: var(--font3);
  border-collapse: collapse;
  margin: 1rem 0;
}
th {
  border-bottom: 2px solid var(--gray4);
  color: var(--blue2);
  text-align: start;
  text-transform: uppercase;
}
td,
tr {
  border-bottom: 1px solid var(--gray3);
}
td,
tr,
th {
  padding: 0.1em 0.2em;
}

figure {
  margin: 0;
}

figcaption {
  color: var(--font1);
  font-size: min(0.8em, 2.8vmin);
  padding: 0.15em 0.8em;
  text-align: start;
  text-transform: none;
}

/* for devices that can hover: */
@media (hover: hover) {
  button:hover {
    background-color: hsl(0, 0%, 40%);
  }
  a:hover {
    text-decoration: underline;
  }
}
