# Dog Food Timer / Remote Feeder

## Background

## Links

[Source: v1 Arduino Food Timer](https://github.com/anzbert/dog-timer)

[Source: v2 Raspberry Pi Remote Camera Feeder](https://github.com/anzbert/feedingPi)
